<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>v6:ToDo - online</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="lib/pouchdb/dist/pouchdb.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/v6.js"></script>
</head>

<body ng-app="todo" ng-controller="TodoCtrl">
<ion-header-bar class="bar-positive">
  <h1 class="title">Todos</h1>
  <!-- ########################################### -->
  <!-- ###    Add button for online toggle     ### -->
  <!-- ########################################### -->
  <button class="button button-icon" ng-click="toggleOnline()">
    <i class="icon" ng-class="{'ion-connection-bars' : online, 'ion-alert-circled' : !online}"></i>
  </button>
  <button class="button button-icon" ng-click="newTask()">
    <i class="ion-compose icon"></i>
  </button>
</ion-header-bar>
<ion-content>
  <ion-list>
    <ion-item ng-repeat="task in tasks" class="item-icon-right"
              ng-class="{complete: task.completed}"
              ng-click="completionChanged(task)">
      <i class="icon ion-ios7-arrow-left"></i>
      {{task.title}}
      <ion-option-button class="button-energized" ng-click="editTitle(task)">
        Edit
      </ion-option-button>
      <ion-option-button class="button-assertive" ng-click="delete(task)">
        Delete
      </ion-option-button>
    </ion-item>
  </ion-list>
</ion-content>

<script id="new-task.html" type="text/ng-template">

  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Task</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
      <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Task</button>
        </div>
      </form>
    </ion-content>
  </div>

</script>

</body>
</html>
